*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    width: 100%;
    padding: 1.25rem 6.25rem;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(0,0,0,0.05);
}

.logo{
    font-size: 2rem;
    color: #1A1939;
    user-select: none;
}

.searchInput{
    border: 2px solid black;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    background-color: #F1F4F9;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
}

.searchInput:focus-within {
    background-color: #FFFFFF;
    border-color: #483D8B;
    box-shadow: 0 0 0 4px rgba(72, 61, 139, 0.15);
}

.searchInput .searchLabel {
    margin-left: 1rem;
    font-size: 1.25rem;
}

.searchInput #search{
    height: 2.15rem;
    width: 16.5rem;
    border: none;
    margin: 0rem 1rem;
    outline: none;
    background: transparent;
    font-size: 1.1rem;
    color: #000;
}

.navigation .a {
    height: 3rem;
    width: 4.5rem;
    background: transparent;
    border-radius: 0.375rem;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    color: #000;
    border: none;
    font-weight: 500;
    margin-left: 0.8rem;
    padding: 0rem 0.2rem;
    transition: 0.5s;
    opacity: 0.8;
}

.navigation .a:hover{
    color: #483D8B;
    background-color: #e1e1e1;
}

.navigation .myBatch{
    width: 6rem;
    display: none;
}

.navigation .teachOnStudyEra {
    width: 10rem;
}

#aboutUs {
    position: relative; 
    display: inline-block; 
    
    text-decoration: none; 
}

#aboutUs::after {
    content: ''; 
    position: absolute;
    bottom: 0rem;
    left: -0.1rem;
    right: -0.1rem;
    
    height: 3px;
    background-color: #483D8B;
    
    transform: scaleX(0);
    transform-origin: left;
    
    animation: grow-underline 2s linear 0s 1 normal forwards;
}

@keyframes grow-underline {
    50% { 
        transform: scaleX(0); 
    }
    
    100% {
        transform: scaleX(1); 
    }
}
    

.navigation .login{
    height: 2.8rem;
    width: 7rem;
    background: transparent;
    border-radius: 0.375rem;
    outline: none;
    border: 2px solid #483D8B;
    cursor: pointer;
    font-size: 1.1rem;
    color: #483D8B;
    background-color: #fff;
    font-weight: 500;
    margin-left: 1rem;
    transition: 0.5s;
    opacity: 0.8;
}

.navigation .login:hover{
    opacity: 1;
}

.navigation .signup{
    height: 2.8rem;
    width: 7rem;
    border-radius: 0.375rem;
    outline: none;
    border: 2px solid #fff;
    cursor: pointer;
    font-size: 1.1rem;
    background-color: #483D8B;
    color: #fff;
    font-weight: 500;
    margin-left: 0.7rem;
    transition: 0.5s;
    opacity: 0.9;
}

.navigation .signup:hover{
   opacity: 1;
   background-color: slateblue; 
}

.signup:active, .login:active {
    transform: scale(0.95);
}

@media (max-width: 1499px) and (min-width: 1199px) {
    /* Header */
    .teachSE, .myBatch {
        display: none;
    }

    .searchInput #search {
        width: 14rem;
    }
}


/* Main Start */

main section {
  height: 80vh;
  width: 100%;
}



/* Footer Part Start */

.footerLogin {
    width: 100%;
    border-top: 2px solid black;
    margin: 6rem 0 0 0;
}

.footerLogin .skillAndCerfi {
    width: 100%;
    background-color: #27264A;
    color: #fff;
    margin: 0;
    padding: 2rem 3rem;
}

.footerLogin .skillAndCerfi h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
}

.coursesFooter {
    margin: 1.5rem 0 0.5rem 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.coursesFooter .course {
    width: 25%;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0;
}

.coursesFooter .course h5 {
    font-size: 1rem;
}

.coursesFooter .course h5 a {
    text-decoration: none;
    color: #fff;
}

.coursesFooter .course ul, .aboutAs .aboutAndcontact ul {
    margin: 1rem 0;
    list-style: none;
}

.coursesFooter .course ul li, .aboutAs .aboutAndcontact ul li {
    margin: 0.4rem 0;
}

.coursesFooter .course ul li, .aboutAs .aboutAndcontact ul li, .aboutAs .aboutAndcontact ul li a {
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    color: #fff;
}

.footerLogin .aboutAs {
    width: 100%;
    background-color: #1A1939;
    color: lightgray;
    margin: 0;
    padding: 3rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.footerLogin .aboutAs h5 {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
}

.footerLogin .aboutAs .aboutAndcontact {
    display: flex;
    flex-direction: column;
    flex: 1; 
}