*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header{
    width: 100%;
    padding: 1.25rem 6.25rem;
    background-color: #fff;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo{
    font-size: 2rem;
    color: #000;
    user-select: none;
}

.searchInput{
    border: 2px solid black;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
}

.searchInput .searchLabel {
    margin-left: 1rem;
    font-size: 1.25rem;
}

.searchInput #search{
    height: 2.15rem;
    width: 16.5rem;
    border: none;
    margin: 0rem 1rem;
    outline: none;
    background: transparent;
    font-size: 1.1rem;
    color: #000;
}

.navigation .a {
    height: 2.8rem;
    width: 4.5rem;
    background: transparent;
    border-radius: 0.375rem;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    color: #000;
    background-color: #fff;
    border: none;
    font-weight: 500;
    margin-left: 0.8rem;
    padding: 0rem 0.2rem;
    transition: 0.5s;
    opacity: 0.8;
}

.navigation .teachSE{
    width: 6rem;
}

.navigation .a:hover{
    color: #483D8B;
    background-color: #e1e1e1;
}

#homePage {
    position: relative; 
    display: inline-block; 
    
    text-decoration: none; 
}

#homePage::after {
    content: ''; 
    position: absolute;
    bottom: -0.3rem;
    left: 0;
    right: 0;
    
    height: 3px;
    background-color: #483D8B;
    
    transform: scaleX(0);
    transform-origin: left;
    
    animation: grow-underline 2s linear 0s 1 normal forwards;
}

@keyframes grow-underline {
    50% { 
        transform: scaleX(0); 
    }
    
    100% {
        transform: scaleX(1); 
    }
}
    

.navigation .login{
    height: 2.8rem;
    width: 7rem;
    background: transparent;
    border-radius: 0.375rem;
    outline: none;
    border: 2px solid #483D8B;
    cursor: pointer;
    font-size: 1.1rem;
    color: #483D8B;
    background-color: #fff;
    font-weight: 500;
    margin-left: 1rem;
    transition: 0.5s;
    opacity: 0.8;
}

.navigation .login:hover{
    opacity: 1;
}

.navigation .signup{
    height: 2.8rem;
    width: 7rem;
    border-radius: 0.375rem;
    outline: none;
    border: 2px solid #fff;
    cursor: pointer;
    font-size: 1.1rem;
    background-color: #483D8B;
    color: #fff;
    font-weight: 500;
    margin-left: 0.7rem;
    transition: 0.5s;
    opacity: 0.9;
}

.navigation .signup:hover{
   opacity: 1;
   background-color: slateblue; 
}

@media (max-width: 1499px) and (min-width: 1199px) {
    /* Header */
    .teachSE, .myBatch {
        display: none;
    }

    .searchInput #search {
        width: 14rem;
    }
}

/* Main Start */

/* Image Slider */

.slider-Container {
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.imageContainer {
    display: flex;
    align-items: center;
    gap: 20px;

}

.imageContainer .arrow {
    font-size: 4rem;
    cursor: pointer;
    color: gray;
    transition: 0.2s;
}

.imageContainer .arrow:hover {
    color: darkgray;
}


.rightArrow {
    transform: rotate(180deg);
}

.frame {
    height: 488px;
    width: 1200px;
    overflow: hidden;
    box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.5);
}

.slider {
    display: flex;
}

.slider img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Course Section Start */

.courseContainer {
    position: relative;
    top: 0px;
    left: 0px;
    padding: 4rem 6.25rem;
    background-color: #ffffff;
}

.insideCourseContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    height: 24.25rem;
    width: 17.063rem;
    border: 2px solid black;
    border-radius: 1rem;
    margin: 1.5rem 2.5rem;
    transition: 0.5s;
}

.card:hover {
    box-shadow: 2px 2px 4px black;
    z-index: 10;
}

.card img {
    height: 50%;
    width: 100%;
    background-size: cover;
    border-radius: 0.9rem 0.9rem 0 0;
}

.card h2 {
    font-family: "Montserrat", sans-serif;
}

.card .cardh2, p {
    text-align: center;
    margin: 0.3rem 0 0.8rem 0;
}

.card .cardButtonContainer {
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card .cardButton {
    height: 1.875rem;
    width: 4.375rem;
    padding: 0.1rem;
    outline: none;
    background: transparent;
    font-weight: 500;
    font-size: 0.8rem;
    border: 1px solid black;
    border-radius: 6px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card .cardButton:hover {
    background-color: #f1f1f1;
    color: #483D8B;
    cursor: pointer;
    outline: lightgray;
    border: 1.5px solid gray;


}

.fullstackCourseHover, .securityCourseHover {
    position: fixed;
    top: 11.94rem;
    left: 33.5rem;
    height: 30.25rem;
    width: 20.063rem;
    border-radius: 1rem;
    margin: 0px 2.5rem 2.5rem 2.5rem;
    transition: 0.5s;
    background-color: #fff;
    display: none;
    transition: 0.3s ease; 
}

.courseHover h3, ul {
    margin: 2rem 1.5rem;
}

.card .courseHoverH2 {
    margin: 1rem 1.5rem;
}


.courseHover .insideHoverH2, h3{
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
}

.courseHover ul {
    list-style: none;
}

.fullstackImage:hover + .fullstackCourseHover, .securityImage:hover + .securityCourseHover {
    display: block;
    background-color: #e1e1e1;
    color: #333333;
}


.machineLerningCourseHover, .cloudCourseHover {
    position: fixed;
    top: 11.94rem;
    left: 55.6rem;
    height: 30.25rem;
    width: 20.063rem;
    border-radius: 1rem;
    margin: 0px 2.5rem 2.5rem 2.5rem;
    transition: 0.5s;
    background-color: #fff;
    display: none;
    transition: 0.3s ease;
}

.machineLerningImage:hover + .machineLerningCourseHover, .cloudImage:hover + .cloudCourseHover {
    display: block;
    background-color: #e1e1e1;
    color: #333333;
}

.dataScienceCourseHover, .uiuxCourseHover {
    position: fixed;
    top: 11.94rem;
    left: 36.5rem;
    height: 30.25rem;
    width: 20.063rem;
    border-radius: 1rem;
    margin: 0px 2.5rem 2.5rem 2.5rem;
    transition: 0.5s;
    background-color: #fff;
    display: none;
    transition: 0.3s ease;
}

.dataScienceImage:hover + .dataScienceCourseHover, .uiuxImage:hover + .uiuxCourseHover {
    display: block;
    background-color: #e1e1e1;
    color: #333333;
}

.viewMoreDiv, .viewLessDiv {
    display: flex;
    justify-content: center;
} 

.viewMore, .viewLess{
    height: 2.8rem;
    width: 7rem;
    background: transparent;
    border-radius: 0.375rem;
    outline: none;
    border: 2px solid #483D8B;
    cursor: pointer;
    font-size: 1.1rem;
    color: #483D8B;
    background-color: #fff;
    font-weight: 500;
    margin: 1rem auto;
    transition: 0.5s;
    opacity: 0.8;
}

.viewMore:hover, .viewLess:hover {
    color: #2D2952;
    border-color: #2D2952;
    opacity: 1.0;
    box-shadow: 0 4px 6px rgba(72, 61, 139, 0.4);
    transform: translateY(-2px);
}

.viewMoreCourse{
    display: none;
}

/* Company Trust */

.trust-companies {
    height: 32vh;
    text-align: center;
    background-color: #F8F9FA;
    padding: 8vh 2rem 2rem 2rem;
}

.trust-companies h3 {
    color: #333333;
}

.companies-logo {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2.5rem;
}

.companies-logo i {
    font-size: 3.5rem;
    color: #AAAAAA;
}

/* About Section Start */

.about-section-container {
    height: 100vh;
    padding: 60px 6rem;
    background-color: #EDF2F9;
    text-align: center;
    display: flex;
    align-items: center;   
}

.about-content {
    display: flex;
    align-items: center;
}

.about-text {
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.about-text h2 {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #483D8B;
}

.short-underline {
    border-bottom: 4px solid #7569CF;
}

.about-text p {
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #333333;
}

.about-image {
    height: 100%;
    width: 55%;
    display: flex;
    justify-content: end;
    align-items: start;

}

.about-image img {
    width: 37rem;
    height: 24rem;
    background-size: cover;
    margin-left: 2.5rem;
}

/* Footer Start */

.footerLogin {
    width: 100%;
    border-top: 2px solid black;
    
}

.footerLogin .skillAndCerfi {
    width: 100%;
    background-color: #27264A;
    color: #fff;
    margin: 0;
    padding: 2rem 3rem;
}

.footerLogin .skillAndCerfi h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
}

.coursesFooter {
    margin: 1.5rem 0 0.5rem 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.coursesFooter .course {
    width: 25%;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0;
}

.coursesFooter .course h5 {
    font-size: 1rem;
}

.coursesFooter .course h5 a {
    text-decoration: none;
    color: #fff;
}

.coursesFooter .course ul, .aboutAs .aboutAndcontact ul {
    margin: 1rem 0;
    list-style: none;
}

.coursesFooter .course ul li, .aboutAs .aboutAndcontact ul li {
    margin: 0.4rem 0;
}

.coursesFooter .course ul li, .aboutAs .aboutAndcontact ul li, .aboutAs .aboutAndcontact ul li a {
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    color: #fff;
}

.footerLogin .aboutAs {
    width: 100%;
    background-color: #1A1939;
    color: lightgray;
    margin: 0;
    padding: 3rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.footerLogin .aboutAs h5 {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
}

.footerLogin .aboutAs .aboutAndcontact {
    display: flex;
    flex-direction: column;
    flex: 1; 
}