*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    width: 100%;
    padding: 1.25rem 6.25rem;
    background-color: #fff;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo{
    font-size: 2rem;
    color: #000;
    user-select: none;
}

.searchInput{
    border: 2px solid black;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
}

.searchInput .searchLabel {
    margin-left: 1rem;
    font-size: 1.25rem;
}

.searchInput #search{
    height: 2.15rem;
    width: 16.5rem;
    border: none;
    margin: 0rem 1rem;
    outline: none;
    background: transparent;
    font-size: 1.1rem;
    color: #000;
}

.navigation .a {
    height: 2.8rem;
    width: 4.5rem;
    background: transparent;
    border-radius: 0.375rem;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    color: #000;
    background-color: #fff;
    border: none;
    font-weight: 500;
    margin-left: 0.8rem;
    padding: 0rem 0.2rem;
    transition: 0.5s;
    opacity: 0.8;
}

.navigation .teachSE{
    width: 6rem;
}

.navigation .a:hover{
    color: #483D8B;
    background-color: #e1e1e1;
}

.navigation .login{
    height: 2.8rem;
    width: 7rem;
    background: transparent;
    border-radius: 0.375rem;
    outline: none;
    border: 2px solid #483D8B;
    cursor: pointer;
    font-size: 1.1rem;
    color: #483D8B;
    background-color: #fff;
    font-weight: 500;
    margin-left: 1rem;
    transition: 0.5s;
    opacity: 0.8;
}

.navigation .login:hover{
    opacity: 1;
}

.navigation .signup{
    height: 2.8rem;
    width: 7rem;
    border-radius: 0.375rem;
    outline: none;
    border: 2px solid #fff;
    cursor: pointer;
    font-size: 1.1rem;
    background-color: #483D8B;
    color: #fff;
    font-weight: 500;
    margin-left: 0.7rem;
    transition: 0.5s;
    opacity: 0.9;
}

.navigation .signup:hover{
   opacity: 1;
   background-color: slateblue; 
}

@media (max-width: 1499px) and (min-width: 1199px) {
    /* Header */
    .teachSE, .myBatch {
        display: none;
    }

    .searchInput #search {
        width: 14rem;
    }
}

/* Main Section Start */

.container {
    position: relative;
    top: 0rem;
    left: 0rem;
    height: 100vh;
    width: 100%;
    font-family: "Roboto", sans-serif;
    padding: 1.5rem 6.5rem 0.5rem 6.5rem;
    display: flex;
}

.loginContext{
    width: 50%;
    padding: 0 2rem 2rem 4rem;
}

main .loginContext img {
    height: 42rem;
    width: 28rem;
    background-size: cover;
    margin-left: 2.5rem;
}

.loginMain{
    width: 50%;
    padding: 0 4rem 2rem 2rem;
}

.loginMain h2{
    text-align: center;
    font-size: 2.1rem;
    margin-bottom: 1.5rem;
}

.loginMain .form{
    margin-left: 15%;
}

.loginMain .form #password, #email, #name, #number {
    height: 3.8rem;
    width: 26rem;
    margin: 0.7rem 0 0.2rem 0;
    padding: 0 1rem;
    font-size: 0.9rem;
    font-weight: bold;
}

.loginMain .form #checkbox {
    margin: 0.6rem 0 1.5rem 0;
}

.contiButton {
    height: 3rem;
    width: 26rem;
    margin: 0.5rem 0;
    background-color: #483D8B;
    color: #fff;
}

.contiButton:hover {
    background-color: slateblue;
}

.loginOptions hr{
    position: relative;
    top: 0.5rem;
    left: 0;
    width: 26rem;
    margin: 0 15% 0.5rem 15%;
}

.loginOptions p{
    position: relative;
    top: 1rem;
    left: 0;
    width: 26rem;
    margin: 0 15% 0 15%;
    text-align: center;
}

.loginOptions span{
    position: relative;
    top: 0;
    left: 0;
    width: 26rem;
    margin: 0 15% 0 15%;
    padding: 0 0.5rem;
    background-color: #fff;
    color: gray;
    z-index: 99;
}

.loginGFA {
    height: 3.8rem;
    width: 26rem;
    margin: 2rem 15% 0 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.GoogleFaceApple{
    height: 3.2rem;
    width: 3.2rem;
    background: transparent;
    border-radius: 0.575rem;
    cursor: pointer;
    font-size: 0.9rem;
    color: #000;
    background-color: #fff;
    border: 2px solid #483D8B;
    font-weight: 500;
    margin-left: 1rem;
    padding: 0rem 0.2rem;
    transition: 0.5s;
    opacity: 0.8;
}

.GoogleFaceApple i {
    font-size: 1.3rem;
}

.GoogleFaceApple:hover {
    background-color: #b9b4d6;
}

.signupInLogin p {
    height: 3.8rem;
    width: 26rem;
    margin: 5% 15% 0 15%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer Part Start */

.footerLogin {
    width: 100%;
    border-top: 2px solid black;
    margin: 6rem 0 0 0;
}

.footerLogin .skillAndCerfi {
    width: 100%;
    background-color: #27264A;
    color: #fff;
    margin: 0;
    padding: 2rem 3rem;
}

.footerLogin .skillAndCerfi h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
}

.coursesFooter {
    margin: 1.5rem 0 0.5rem 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.coursesFooter .course {
    width: 25%;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0;
}

.coursesFooter .course h5 {
    font-size: 1rem;
}

.coursesFooter .course h5 a {
    text-decoration: none;
    color: #fff;
}

.coursesFooter .course ul, .aboutAs .aboutAndcontact ul {
    margin: 1rem 0;
    list-style: none;
}

.coursesFooter .course ul li, .aboutAs .aboutAndcontact ul li {
    margin: 0.4rem 0;
}

.coursesFooter .course ul li, .aboutAs .aboutAndcontact ul li, .aboutAs .aboutAndcontact ul li a {
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    color: #fff;
}

.footerLogin .aboutAs {
    width: 100%;
    background-color: #1A1939;
    color: lightgray;
    margin: 0;
    padding: 3rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.footerLogin .aboutAs h5 {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
}

.footerLogin .aboutAs .aboutAndcontact {
    display: flex;
    flex-direction: column;
    flex: 1; 
}